#### Writer pandas series code to get following output without using dictionary:

In [4]:
import pandas as pd

In [8]:
data = [1,4,9,6,7]
dic = pd.Series(data,index=['a','x','c',2,'e'])
print(dic)

a    1
x    4
c    9
2    6
e    7
dtype: int64

#### Writer pandas series code to get following output using dictionary:

In [10]:
dic = {
    "Bilal":42,
    "Ayesha":38,
    "Hadia":39
}
print(dic)

{'Bilal': 42, 'Ayesha': 38, 'Hadia': 39}

#### Write pandas dataframe code to get following output using python dictionary

In [47]:
data = {
    "Date":["1/1/2017","1/2/2017","1/3/2017","1/4/2017","1/5/2017","1/6/2017"],
    "temperature":[32,35,28,24,32,31],
    "windspeed":[6,7,2,7,4,2],
    "event":['Rain','Sunny','Snow','Snow','Rain','Sunny']
}
data = pd.DataFrame(data)

In [48]:
print(data)

       Date  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

#### In extension to above question, you are required to replace index by ['a','b','c','d','e','f']

In [49]:
data.index = ['a','b','c','d','e','f']

In [29]:
print(data)

       Date  temperature  windspeed  event
a  1/1/2017           32          6   Rain
b  1/2/2017           35          7  Sunny
c  1/3/2017           28          2   Snow
d  1/4/2017           24          7   Snow
e  1/5/2017           32          4   Rain
f  1/6/2017           31          2  Sunny

####  In extension to above Q.3, calculate mean, miximum and minimum for label “temperature”

In [50]:
temp_mean = data.temperature.mean()
temp_max = data.temperature.max()
temp_min = data.temperature.min()
print("Mean: ",temp_mean)
print("Max: ",temp_max)
print("Min: ",temp_min)

Mean:  30.333333333333332
Max:  35
Min:  24

#### Import CSV ‘people.csv’ in the given folder

In [54]:
data2 = pd.read_csv('people.csv')

#### You’re required to import only specific columns ["First Name", "Sex", "Email", “Phone”, “Job Title”]

In [57]:
data2 = pd.read_csv('people.csv', usecols= ["First Name", "Sex", "Email", "Phone", "Job Title"])

#### Set the following columns ["Sex", "Job Title"] as index columns

In [58]:
data2.set_index(["Sex", "Job Title"],inplace=True)

#### Skip following rows [1,5]

In [59]:
data2 = pd.read_csv('people.csv',usecols = ["First Name", "Sex", "Email", "Phone", "Job Title"], skiprows=[1,5])

#### Export the CSV as “NewPeople.csv”

In [60]:
data2.to_csv('newpeople.csv')

#### Import excel sheet ‘SampleWork.xlsx

In [68]:
data3 = pd.read_excel('SampleWork.xlsx')

#### Import sheet 1

In [69]:
data3 = pd.read_excel('SampleWork.xlsx', sheet_name=0)

#### Import only first and last column from sheet 1

In [71]:
data3 = pd.read_excel('SampleWork.xlsx', usecols=[0,-1])
print(data3)

     Name
0    Amir
1   Bilal
2  Sufyan
3   Saiqa
4   Aimen

#### Skip row 2 while importing the sheet

In [111]:
data3 = pd.read_excel('SampleWork.xlsx', sheet_name=0, skiprows=[2])
print(data3)

     Name  Age   Stream  Percentage
0    Amir   18     Math          95
1  Sufyan   20  Comerce          85
2   Saiqa   18     Math          80
3   Aimen   32  Science          75

#### Set row 2 as header

In [113]:
data3 = pd.read_excel('SampleWork.xlsx', header=1)
print(data3)

     Amir  18     Math  95
0   Bilal  19  Science  90
1  Sufyan  20  Comerce  85
2   Saiqa  18     Math  80
3   Aimen  32  Science  75

#### export as new sheet.

In [114]:
data3.to_excel('new_samplework.xlsx')

#### : Create the following dataframe as AICP_DF

In [128]:
AICP_DF = {
    "Name":["Sonia","Bilal","Hifza","Kabir","Jazim"],
    "Age":[27,24,22,32,23],
    "Address":["Lahore","Karachi","Sialkot","Peshawar","Lhr"],
    "Qualification":["Msc","MA","MCA","Phd","bsc"]
}
AICP_DF = pd.DataFrame(AICP_DF)

#### select 'Name', 'Qualification' coloumns and save to df1

In [129]:
df1 = AICP_DF[["Name","Qualification"]]

#### add a new column to AICP_DF “Height” with the following values: [5.1, 6.2, 5.1, 5.2,5.1]

In [130]:
AICP_DF["Height"] = [5.1, 6.2, 5.1, 5.2,5.1]

#### set column “Name” as the index column.

In [131]:
AICP_DF.set_index('Name',inplace=True)

#### retrieve row with index “Hifza”

In [145]:
Hifza = AICP_DF.loc['Hifza']
print(Hifza)

Age                   22
Address          Sialkot
Qualification        MCA
Height               5.1
Name: Hifza, dtype: object

#### retrieve row with index 3

In [147]:
index3 = AICP_DF.iloc[3]
print(index3)

Age                    32
Address          Peshawar
Qualification         Phd
Height                5.2
Name: Kabir, dtype: object

#### drop row with index “Bilal”

In [148]:
AICP_DF.drop(index="Bilal",inplace=True)

In [149]:
AICP_DF

       Age   Address Qualification  Height
Name
Sonia   27    Lahore           Msc     5.1
Hifza   22   Sialkot           MCA     5.1
Kabir   32  Peshawar           Phd     5.2
Jazim   23       Lhr           bsc     5.1